:root
{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fb5533;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    
    --header-height: 120px;
    --navbar-height: 32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

*
{
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid__row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__column-2
{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4
{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10
{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* Selection */
.select-input
{
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.select-input:hover .select-input__list
{
    display: block;
}

.select-input__label
{
    font-size: 1.4rem;
    z-index: 1;
}

.select-input__icon
{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    margin-right: 0 16px 8px;
    position: relative;
    top: 1px;
    z-index: 1;
}

.select-input__list
{
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    padding: 8px 16px;
    list-style: none;
    display: none;
}

.select-input__link
{
    font-size: 1.4rem;
    padding: 4px 0;
    color: var(--text-color);
    display: block;
    text-decoration: none;
}

.select-input__link:hover
{
    color: var(--primary-color);
}

/* Pagination */

.pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item
{
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link
{
    color: var(--white-color);
    background-color: var(--primary-color);
}


.pagination-item--active:hover .pagination-item__link
{
    filter: brightness(98%);
}

.pagination-item__link
{
    font-weight: 300;
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    height: var(--height);
    min-width: 40px;
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}







/* Animation */
@keyframes fadeIn
{
    from 
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes growth {
    from 
    {
        transform: scale(var(--growth-from));
    }
    to
    {
        transform: scale(var(--growth-to));
    }
}

@keyframes headerNotifyGrowth 
{
    from
    {
        opacity: 0;
        transform: scale(0);
    }
    to
    {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes mobileSearchSideIn
{
    from
    {
        top: calc(var(--header-height) / 2);
        opacity: 0;
    }
    to
    {
        top: var(--header-height);
        opacity: 1;
    }
}

