.header
{
    z-index: 999;
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__navbar
{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list
{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 0;  
    display: flex; 
}

.header__navbar-item
{
    margin: 0 8px;
    min-height: 26px;
    position: relative;
}

.header__navbar-user
{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img
{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
}

.header__navbar-user-name
{
    display: block;
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu
{
    display: block;
}

.header__navbar-user-menu
{
    z-index: 4;
    min-width: 165px;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    text-align: left;
    background-color: var(--white-color);
    border-radius: 2px;
    text-decoration: none;
    box-shadow: 0 1px 2px #d8d6d6;
    padding-left: 0;
    animation: headerNotifyGrowth ease-in .2s;
    transform-origin: top;
    display: none;
}

.header__navbar-user-menu::after
{
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: -27px;
    right: 25%;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-menu::before
{
    content: "";
    display: block;
    position: absolute;
    width: 130px;
    height: 20px;
    top: -10px;
    right: 0;
}

.header__navbar-user-item
{
    width: 100%;
}

.header__navbar-user-item--seperate
{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item-link
{
    width: 100%;
    line-height: 1.4rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

.header__navbar-user-item-link:hover
{
    background-color: rgba(238, 75, 43, .08);
}


.header__navbar-item-has-qr:hover .header__qr,
.header__navbar-item-has-notify:hover .header__notify
{
    display: block;
    z-index: 4;
    
}

.header__navbar-item,
.header__navbar-item-link
{
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover
{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link
{
    display: flex;
    align-items: center;
    height: 18px;
}

.header__navbar-icon-link:nth-child(2)
{
    margin-left: 3px
}

.header__navbar-item-link--strong
{
    font-weight: 400;
}

.header__navbar-item--seperate::after
{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link
{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon
{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title-no-pointer
{
    color: var(--white-color);
    cursor: text;
}


/* QR Code */
.header__qr
{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 118%;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    animation: fadeIn ease-in .3s;
    display: none;
}

.header__qr::before
{
    width: 100%;
    left: 0;
    top: -16px;
    height: 20px;
    position: absolute;
    content: "";
    display: block;
}

.header__qr-apps
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__qr-download-apps
{
    height: 15px;
    margin: 4px 11px;
}

.header__qr-img
{
    width: 100%;
    
}

/* Header Notifycation */
.header__notify
{
    background-color: var(--white-color);
    position: absolute;
    top: 118%;
    right: 0;
    width: 400px;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in .3s;
    will-change: opacity, transform;
    display: none;
    border-radius: 2px;
}

.header__notify::before
{
    content: "";
    display: block;
    position: absolute;
    top: -27px;
    right: 0;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after
{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 20px;
    top: -10px;
    right: 0;
}


.header__notify-header
{
    background-color: var(--white-color);
    height: 40px;
}

.header__notify-header h3
{
    color: var(--text-color);
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}

.header__notify-list
{
    padding-left: 0;

}

.header__notify-item
{
    display: flex;   
}

.header__notify-item-viewed
{
    background-color: rgba(238, 75, 43, .08);
}

.header__notify-item:hover
{
    background-color: #f7f7f7;
}

.header__notify-link
{
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 12px;
}

.header__notify-img
{
    width: 48px;
    object-fit: contain;
}

.header__notify-info
{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    justify-content: space-around;
}

.header__notify-name
{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-desc
{
    color: #444;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer
{
    background-color: var(--white-color);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__notify-footer a
{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 40px;
}


.header__sort-bar
{
    position: fixed;
    top: calc(var(--header-height) - 2px);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    margin-top: 0;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    
}

.header__sort-bar-item
{
    flex: 1;
}

.header__sort-bar-link
{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 0;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    justify-content: center;
    position: relative;
}

.header__sort-bar-link::before
{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-bar-item:first-child .header__sort-bar-link::before
{
    border-left: none;
}

.header__sort-bar-item-active .header__sort-bar-link
{
    color: var(--primary-color);
}

.header__sort-bar-link:last-of-type
{
    display: flex;
    align-items: center;
}

.header__sort-bar-controls
{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.header__sort-bar-controls-icon
{
    font-size: .8rem;

}

.header__category
{
    position: relative;
    display: none;
    font-size: 3rem;
    color: var(--white-color);
}

.header__category:checked ~ .header__overlay
{
    display: block;
}



.header__overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0,0,0,.3);
    display: none;
}

.header__navbar-mobile
{
    z-index: 4;
    background-color: var(--white-color);
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    transform: translateX(-100%);
    transition: transform linear .2s, opacity linear .2s;
}


.header__navbar-mobile-close
{
    font-size: 5rem;
    margin: 8px 16px;
    position: absolute;
    right: 0;
}

.header__navbar-mobile-info
{
    list-style: none;
    margin-top: 40%;
}

.header__navbar-mobile-item
{
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 20px 0;
}

#header__category-checked:checked ~ .header__navbar-mobile
{
    transform: translateX(0);
    opacity: 1;
}

#header__category-checked:checked ~ .header__overlay
{
    display: block;
    opacity: 1;
}

/* MODAL */
.modal
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}

.modal__overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body
{
    --growth-from: 0.7;
    --growth-to: 1;
    z-index: 1;
    margin: auto;
    background-color: #fff;
    border-radius: 2px;
    animation: growth linear 0.2s; 
}



/* authen form */

.auth-form__container
{
    padding: 0 32px;
}

.auth-form__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form
{
    width: 500px;
}

.auth-form__heading
{
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 350;
}

.auth-form__switch-btn
{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input
{
    font-size: 1.4rem;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    margin-top: 16px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus
{
    border-color: var(--text-color);
}

.auth-form__aside
{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 16px;
    line-height: 2rem;
}

.auth-form__policy-link
{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls
{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials
{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 12px 30px;
}
/* Button */
.btn
{
    min-height: 40px;
    min-width: 142px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
    line-height: 4rem;
    text-align: center;
}

.btn.btn-normal:hover
{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s
{
    height: 30px;
    padding: 0 30px;
}

.auth-form__controls-back
{
    margin-right: 8px;
}

.btn.btn--primary
{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled
{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

.btn--with-icon
{
    border: 1px solid var(--border-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}


.btn-icon
{
    margin: 8px;
    display: flex;
    justify-content: center;
}

.auth-form__help
{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__help-forgot
{
    color: var(--primary-color);
}

.auth-form__help-seperate
{
    display: block;
    margin: 0 12px;
    border-left: 1px solid var(--border-color);
}

/* HEADER WITH SEARCH */
.header-with-search
{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search
{
    margin: 4px 16px;
    display: none;
    transform: translateY(3px);
}

.header__mobile-search-icon
{
    font-size: 2.4rem;
    color: var(--white-color);
    position: relative;
    top: 50%;
}

#mobile-search-checkbox:checked ~ .header__search
{
    display: flex;
}


.header__logo
{
    width: 200px;
}

.header_logo-link
{
    text-decoration: none;
    color: transparent;
}

.header__logo-img
{
    width: 75%;
    color: var(--white-color);
}

.header__search
{
    z-index: 2;
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

/* CART */
.header__cart
{
    width: 150px;
    text-align: center;
}

.header__cart-wrap
{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
}

.header__cart-list::before
{
    content: "";
    display: block;
    position: absolute;
    top: -30px;  
    right: 3px;
    border-style: solid;
    border-width: 20px 24px;
    border-color: transparent transparent var(--white-color) transparent;
    animation: fadeIn ease-in .25s both;
    cursor: pointer;
}

.header__cart-list
{
    z-index: 3;
    position: absolute;
    top: calc(100% + 16px);
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    animation: fadeIn ease-in .2s both;
    display: none;
    cursor: default;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__car-list-no-cart-msg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-list--no-cart
{
    padding: 24px 0 0px;
}

.header__cart-no-cart-img
{
    width: 55%;
    display: none;
}

.header__car-list-no-cart-msg
{
    margin-top: 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: none;
}

.header__cart-icon
{
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list
{
    display: block;
}

.header_cart-notify
{
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    top: -8px;
    right: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 1px 6px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__search-input-wrap
{
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input
{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0 16px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select
{
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label
{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-label-icon
{
    font-size: 1.4rem;
    color: #626262;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn
{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    cursor: pointer;
}

.header__search-btn:hover
{
    background-color: #fb6442;
}

.header__search-btn-icon
{
    color: var(--white-color);
}

.header__search-option
{
    margin: 16px 0 0 0;
    position: absolute;
    top: calc(100% - 2px);
    right: 0;
    width: 130px;
    box-shadow: 0 1px 2px #d8d6d6;
    padding-left: 0;
    border-radius: 2px;
    display: none;
}

.header__search-select:hover .header__search-option
{
    display: block;
}
.header__search-option::after
{
    display: block;
    content: "";
    top: -20px;
    width: 100%;
    left: 0;
    height: 20px;
    position: absolute;
    background-color: transparent;
}

.header__search-option-item
{
    list-style: none;
    background-color: var(--white-color);
    padding: 8px;
    cursor: pointer;
}

.header__search-option-item:first-child
{
    border-radius: 3px 3px 2 0;
}

.header__search-option-item:last-child
{
    border-radius: 0 0 3px 2px;
}

.header__search-option-item:hover
{
    background-color: #fafafa;
}

.header__search-option-item-span
{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i
{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i
{
    display: inline-block;
}


/* SEARCH HISTORY */
.header__search-history
{
    background-color: var(--white-color);
    width: calc(100% - 16px);
    border-radius: 2px;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    box-shadow: 0 1px 4px var(--border-color);
    display: none;
}

.header__search-input:focus ~ .header__search-history
{
    display: block;   
}



.header__search-history-heading
{
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #c8c7c7;
}

.header__search-history-list
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__search-history-item
{
    height: 40px;
    line-height: 38px;
    width: 100%;
}

.header__search-history-item:last-child
{
    overflow: hidden;
}

.header__search-history-item:hover
{
    background-color: #fafafa;
}

.header__search-history-item-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 0 12px;
}

/* ITEM CART-LIST */
.header__cart-heading
{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__cart-list-item
{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item
{
    display: flex;
    
}

.header__cart-item:hover
{
    background-color: #f7f7f7;
}

.header__cart-img
{
    width: 42px;
    height: 42px;
    margin: 12px;
    border-radius: 2px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-infor
{
    width: 100%;
}

.header__cart-item-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    margin-top: 12px;
}

.header__cart-item-name
{
    font-size: 1.4rem;
    margin: 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-align: left;
    width: 200px;
}

.header__cart-item-price
{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-multi
{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quantity
{
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body
{
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
    margin-top: 12px;
}

.header__cart-item-des
{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    overflow-y: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-align: left;
    width: 200px;
}

.header__cart-item-del
{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.header__cart-item-del:hover
{
    color: var(--primary-color);
}

.header__cart-check-cart
{
    float: right;
    margin: 12px;
}

.header__cart-check-cart:hover
{
    background-color: #F05D41;
}

/* App container */
.main
{
    overflow: hidden;
}

.app__container
{
    margin-top: var(--header-height);
    background-color: #f5f5f5;
    padding-bottom: 20px;
}

.app__content
{
    padding-top: 36px;
}

.category
{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-item
{
    position: relative;
}

.category-item:first-child::before
{
    display: none;
}

.category-item::before
{
    border-top: 1px solid #E1E1E1;
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
}

.category-heading
{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 16px 20px 0;
    color: var(--text-color);
    margin-top: 0;
}

.category-list
{
    list-style: none;
    padding: 0 0 8px 0;
}

.category-item__link
{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    padding: 12px 20px;
    display: block;
    font-size: 1.4rem;
    position: relative;
}

.category-item__link:hover
{
    color: var(--primary-color);
}

.category-item--active .category-item__link
{
    color: var(--primary-color);
}


/* Home sort + filter */

.home-filter
{
    align-items: center;
    display: flex;
    padding: 12px 22px;
    background-color: rgba(0, 0, 0, .05);
    border-bottom: 2px;
}

.home-filter___label
{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter-btn
{
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page
{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num
{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current
{
    color: var(--primary-color);
}


.home-filter__page-control
{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    
}

.home-filter__page-btn
{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}


.home-filter__page-btn--disabled
{
    background-color: #f9f9f9;

}


.home-filter__page-btn--disabled .home-filter__page-icon
{
    color: #ccc;
    cursor: default;
}

.home-filter__page-btn:first-child
{
    border-right: 1px solid #eee;
}
.home-filter__page-icon
{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product-item
{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    padding-bottom: 4px;
    top: 0;
    transition: top linear .1s;
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .1);
}

.home-product-item:hover
{
    top: -4px;
    box-shadow:0 .1rem .2rem 1px rgba(0, 0, 0, .05);
}

.home-product-item__img
{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name
{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price
{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old
{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current
{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action
{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__heart
{
    font-size: 1.3rem;
}

i.home-product-item__heart-icon-fill
{
    color: #F63D30;
    cursor: pointer;
    display: none;
}

.home-product-item__heart--liked .home-product-item__heart-icon-fill
{
    display: inline-block;
}

.home-product-item__heart--liked .home-product-item__heart-icon-empty
{
    display: none;
}

.home-product-item__rating
{
    font-size: 0.8rem;
    cursor: pointer;
    margin: 1px 0 0 auto;
}

.home-product-item__star-gold
{
    color: var(--star-gold-color);
}

.home-product-item__sold
{
    font-size: 1.2rem;
    margin-left: 6px;
}

.home-product-item__origin
{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;

}

.home-product-item__favourite
{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-radius: 1px 3px 3px 1px;
}

.home-product-item__favourite span
{
    color: var(--white-color);
}

.home-product-item__favourite::before
{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 1.05px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i
{
    color: var(--white-color);
    font-size: .9rem;
    margin: 0 3px 0 5px;
}

.home-product-item__sale-off
{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, .9);
    text-align: center;
    line-height: 1.6rem;
}

.home-product-item__sale-off::before
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, .9);
}


.home-product-item__sale-off-percent
{
    
    font-size: 1.3rem;
    font-weight: 600;
    color: #EE4D2D;
    line-height: 1.3rem;
    position: relative;
    top: 4px;
}

.home-product-item__sale-off-label
{
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    position: relative;
    top: 4px;
}


/* Pagination */
.home-product__pagination
{
    margin: 48px 0 32px;
    padding-left: 0;
}

.mobile-category__list
{
    list-style: none;
    padding-left: 0;
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    padding-top: 10px;
    display: none
}

.mobile-category__list::-webkit-scrollbar
{
    display: none;
}

.mobile-category__item
{
    flex-shrink: 0;
    border-radius: 4px;
    margin-right: 10px;
    padding: 4px 0;
}

.mobile-category__item:nth-of-type(3n - 2)
{
    background-color: #87AFD9;
}

.mobile-category__item:nth-of-type(3n - 1)
{
    background-color: #76C98D;
}

.mobile-category__item:nth-of-type(3n)
{
    background-color: #88CF81;
}


.mobile-category__link
{
    --line-height: 2rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    width: 110px;
    display: block;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0px 6px;
}


/* FOOTER */
.footer
{
    padding-top: 32px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading
{
    color: #202020;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer-list
{
    list-style: none;
    padding-left: 0;
}

.footer-item
{
    padding: 8px 0;
}

.footer-item__link
{
    text-decoration: none;
    color: #585858;
    font-size: 1.2rem;
    display: flex;
}

.footer-item__link:hover
{
    color: var(--primary-color);
}

.footer-icon
{
    font-size: 1.6rem;
    padding-right: 8px;
    position: relative;
    top: -1px;
}

.footer__download
{
    display: flex;
}

.footer__download-qr
{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.footer__download-apps
{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

.footer__download-apps-link
{
    text-decoration: none;
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 3px 4px;
    margin: 2px 0;
    border-radius: 2px;
}

.footer__download-apps-img
{
    height: 16px;

}


/* FOOTER INFORMATION */
.footer-info
{
    margin-top: 30px;
    border-top: 1px solid var(--border-color);
}

.footer-info__container
{
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info__law
{
    font-size: 1.5rem;
    color: #585858;
}

.footer-info__country
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.footer-info__country-area
{
    font-size: 1.5rem;
    color: #585858;
}

.footer-info__list
{
    display: flex;
    padding-left: 4px;
}

.footer-info__list-item
{
    border-right: 1px solid var(--border-color);
}

.footer-info__list-item:last-child
{
    border: none;
}

.footer-info__item-link
{
    text-decoration: none;
    color: #585858;
    padding: 0 4px;
    font-size: 1.5rem;
}

/* FOOTER BOTTOM */
.footer-bottom
{
    background-color: #f5f5f5;
    min-height: 350px;
    width: 100%;
}

.footer-bottom__container
{
    display: flex;
    justify-content: center;
}


.footer-policy_list
{
    padding-top: 40px;
    display: flex;
    list-style: none;
}

.footer-policy_item
{
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #585858;
    border-right: 1px solid var(--border-color);
    font-weight: 300;
}

.footer-policy_item:last-child
{
    border: none;
}


.footer-stamp-shopee
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.footer-stamp__list
{
    margin-left: 0;
    display: flex;

}

.footer-stamp__item
{
    list-style: none;
}

.footer-stamp__link
{
    text-decoration: none;
    padding: 0 25px
}

.footer-stamp-img
{
    height: 45px;
}

.footer-name-firm__shopee
{
    font-size: 1.2rem;
    font-weight: 300;
    color: #585858;
}

.footer-address
{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3rem;
    margin-top: 30px;
}

.footer-address__des
{
    display: inline-block;
    font-size: 1.3rem;
    margin-top: 4px;
    color: #585858;
}



